.header {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #e4e4e4cc;
}
.header-logo {
  height: 140px;
  display: flex;
  align-items: center;
}
.header-links {
  display: flex;
}
.link-item {
  background-color: #a8b7b7;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 10px;
  color: #fff;
  &:hover {
    background-color: rgb(87, 87, 87);
    transition: background-color 0.2s linear;
  }
}
.header-settings {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
.svg-settings:hover {
  fill: rgb(90, 90, 90);
  transition: fill 0.2s linear;
}
.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}
