@charset "UTF-8";
/* Указываем box sizing */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.left_menu {
  width: 115px;
  background-color: #d5f4f4;
  border-top-left-radius: 10px;
  border-end-start-radius: 10px;
  display: flex;
}
@media (max-width: 1024px) {
  .left_menu {
    width: 80px;
  }
}
@media (max-width: 540px) {
  .left_menu {
    width: 70px;
  }
}
@media (max-width: 380px) {
  .left_menu {
    width: 50px;
  }
}

.left_menu-items {
  max-height: 920px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 38px 0;
}
@media (max-width: 540px) {
  .left_menu-items {
    max-height: 800px;
  }
}
@media (max-width: 380px) {
  .left_menu-items {
    max-height: 650px;
  }
}

.burger-home-menu {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.menu_link {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  align-content: center;
  align-items: center;
  padding: 10px;
}
@media (max-width: 1024px) {
  .menu_link {
    font-size: 13px;
  }
}

.link-href {
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
}
@media (max-width: 540px) {
  .link-href span {
    display: none;
  }
}

.icon-burger {
  width: 40px;
  height: 40px;
}
@media (max-width: 380px) {
  .icon-burger {
    width: 25px;
    height: 25px;
  }
}

.buritto-icon {
  height: 40px;
}
@media (max-width: 380px) {
  .buritto-icon {
    height: 30px;
  }
}

.quesadillas-icon {
  width: 32px;
  height: 32px;
}
@media (max-width: 380px) {
  .quesadillas-icon {
    width: 25px;
    height: 25px;
  }
}

.other-icon {
  width: 35px;
  height: 35px;
}
@media (max-width: 380px) {
  .other-icon {
    width: 30px;
    height: 30px;
  }
}

.drink-icon {
  width: 35px;
  height: 35px;
}
@media (max-width: 380px) {
  .drink-icon {
    width: 25px;
    height: 25px;
  }
}

.phone-svg {
  width: 30px;
  height: 35px;
}
@media (max-width: 380px) {
  .phone-svg {
    width: 20px;
    height: 20px;
  }
}

.social-svg {
  width: 35px;
}
@media (max-width: 380px) {
  .social-svg {
    width: 25px;
  }
}

.menu-icon {
  background-color: #98b8b8;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.menu-icon:hover {
  background-color: #fff;
  transition: background-color 0.2s linear;
}
@media (max-width: 380px) {
  .menu-icon {
    width: 40px;
    height: 40px;
  }
}

.social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: center;
  align-content: center;
  margin: 0 auto;
}

.phone {
  margin: 0 auto;
  background-color: #98b8b8;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  align-items: center;
}
.phone:hover {
  background-color: #fff;
  transition: background-color 0.2s linear;
}
@media (max-width: 380px) {
  .phone {
    width: 40px;
    height: 40px;
  }
}

.phone-link {
  display: flex;
}

.header {
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  border-bottom: 1px solid #e4e4e4cc;
}
@media (max-width: 1024px) {
  .header {
    height: 120px;
  }
}
@media (max-width: 540px) {
  .header {
    flex-flow: wrap-reverse;
    justify-content: space-evenly;
  }
}

.header-logo {
  display: flex;
  align-items: center;
}
@media (max-width: 540px) {
  .header-logo {
    order: 3;
    width: 100%;
    justify-content: center;
    padding-bottom: 10px;
  }
}

.header-links {
  display: flex;
}
@media (max-width: 768px) {
  .header-links {
    display: none;
  }
}

.link-item {
  background-color: #a8b7b7;
  padding: 10px 20px;
  border-radius: 30px;
  margin-right: 10px;
  color: #fff;
}
.link-item:hover {
  background-color: #575757;
  transition: background-color 0.2s linear;
}
@media (max-width: 1024px) {
  .link-item {
    font-size: 14px;
    padding: 7px 10px;
  }
}

.header-settings {
  display: flex;
  align-items: center;
  fill: #959595;
  width: 40px;
  height: 40px;
}
@media (max-width: 380px) {
  .header-settings {
    width: 30px;
    height: 30px;
  }
}

.svg-settings:hover {
  fill: #5a5a5a;
  transition: fill 0.2s linear;
  display: flex;
  align-items: center;
}

.switch-theme {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-header-logo {
  width: 204px;
  height: 94px;
}
@media (max-width: 1024px) {
  .svg-header-logo {
    width: 150px;
    height: 70px;
  }
}
@media (max-width: 640px) {
  .svg-header-logo {
    width: 110px;
    height: 50px;
  }
}

.svg-profile {
  width: 30px;
  height: 30px;
}
@media (max-width: 640px) {
  .svg-profile {
    width: 20px;
    height: 20px;
  }
}

.header-cart-profile {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
@media (max-width: 640px) {
  .header-cart-profile {
    align-items: center;
  }
}

.cart {
  background-color: #2dc7c9;
  padding: 15px 25px;
  display: flex;
  border-radius: 30px;
  color: #fff;
  align-items: center;
}
.cart:hover {
  background-color: #3da7a9;
  transition: background-color linear 0.2s;
}
@media (max-width: 1024px) {
  .cart {
    padding: 12px 20px;
  }
}
@media (max-width: 640px) {
  .cart {
    padding: 10px 15px;
  }
}

.cart-bill:after {
  content: "";
  background-color: rgba(255, 255, 255, 0.25);
  margin: 10px;
  padding: 1px;
}

.cart-length {
  display: flex;
  align-items: center;
}

.svg-cart {
  margin-right: 10px;
}

.cart-shop {
  max-width: 1080px;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 25px 0;
}
@media (max-width: 640px) {
  .cart-shop {
    padding: 0;
  }
}

.cart-header {
  display: flex;
  justify-content: center;
  width: 100%;
  align-content: center;
  align-items: center;
  padding-top: 20px;
}
@media (max-width: 768px) {
  .cart-header {
    padding-top: 0;
  }
}

.clean-cart-link {
  display: flex;
  align-items: center;
}
.clean-cart-link svg {
  padding-right: 5px;
}
.clean-cart-link span {
  color: #b6b6b6;
}

.cart-title {
  display: flex;
  align-items: center;
}

.cart-items {
  padding-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .cart-items {
    padding-bottom: 25px;
    border-bottom: 1px solid #ccc;
    width: 450px;
  }
}
@media (max-width: 540px) {
  .cart-items {
    width: 370px;
  }
}
@media (max-width: 380px) {
  .cart-items {
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
  }
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 600px;
  height: 85px;
  margin: 10px 0;
}
@media (max-width: 1024px) {
  .cart-item {
    width: 650px;
  }
}
@media (max-width: 768px) {
  .cart-item {
    width: 100%;
  }
}
@media (max-width: 540px) {
  .cart-item {
    height: 50px;
  }
}
@media (max-width: 380px) {
  .cart-item {
    flex-wrap: wrap;
    height: 155px;
    width: 48%;
    justify-content: center;
    background-color: #cde1e1;
    border-radius: 15px;
    margin-bottom: 5px;
    padding: 5px;
  }
}

.cart-item-img {
  width: 70px;
  height: 70px;
  display: flex;
  align-content: center;
  overflow: hidden;
  border-radius: 20px;
}
@media (max-width: 540px) {
  .cart-item-img {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 380px) {
  .cart-item-img {
    width: 40px;
    height: 40px;
    border-radius: 15px;
  }
}

.cart-product-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

.cart-inner {
  display: flex;
  align-items: center;
}
@media (max-width: 380px) {
  .cart-inner {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }
}

.cart-length {
  font-weight: 500;
}

.btn-length {
  background-color: #fff;
  border: 2px solid #3da7a9;
  border-radius: 50px;
  font-size: 20px;
  width: 34px;
  height: 34px;
  margin: 0 8px;
  color: #3da7a9;
}
.btn-length:focus {
  outline: none;
}
.btn-length:hover {
  background-color: #aceff0;
}
@media (max-width: 380px) {
  .btn-length {
    width: 25px;
    height: 25px;
    font-size: 13px;
    margin: 0 5px;
    border: 1px solid #3da7a9;
  }
}

.cart-price {
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 540px) {
  .cart-price {
    font-size: 17px;
  }
}
@media (max-width: 380px) {
  .cart-price {
    font-size: 13px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.cart-item-del {
  border: 2px solid #d7d7d7;
  border-radius: 50px;
  width: 34px;
  height: 34px;
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #d7d7d7;
}
.cart-item-del:hover {
  background-color: #adadad;
  border: 2px solid #adadad;
  color: #fff;
  transition: background-color, border, color 0.2s linear;
}
@media (max-width: 380px) {
  .cart-item-del {
    font-size: 13px;
    width: 25px;
    height: 25px;
    border: 2px solid #fff;
    color: #fff;
  }
}

.cart-item-title {
  padding-left: 15px;
  width: 250px;
}
.cart-item-title span {
  color: #adadad;
}
@media (max-width: 768px) {
  .cart-item-title {
    width: 160px;
  }
}
@media (max-width: 540px) {
  .cart-item-title {
    width: 120px;
  }
}
@media (max-width: 380px) {
  .cart-item-title h6 {
    font-size: 0.8rem;
    text-align: center;
  }
}
@media (max-width: 380px) {
  .cart-item-title {
    width: 100%;
    padding-left: 0;
  }
}

.cart-sum {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 40px;
  text-align: center;
}
.cart-sum span {
  display: flex;
}
.cart-sum span h4 {
  padding-left: 5px;
}

.cart-btns {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-top: 50px;
}

.cart-btn-back,
.cart-btn-submit {
  padding: 10px 18px;
  font-size: 17px;
  border-radius: 30px;
}
.cart-btn-back:focus,
.cart-btn-submit:focus {
  outline: none;
}

.cart-btn-back {
  background-color: #fff;
  color: #adadad;
  display: flex;
  align-items: center;
  border: 1px solid #adadad;
}

.cart-btn-submit {
  background-color: #2dc7c9;
  color: #fff;
  border: 1px solid #2dc7c9;
}
.cart-btn-submit:hover {
  background-color: #3da7a9;
  transition: background-color 0.2s linear;
}

.cart-main {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
@media (max-width: 1024px) {
  .cart-main {
    flex-wrap: wrap;
    justify-content: center;
  }
}

.chekout {
  display: flex;
  justify-content: space-around;
}

.cart-discription {
  font-size: 12px;
}
@media (max-width: 768px) {
  .cart-discription {
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    -ms-line-clamp: 2;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    display: -webkit-box;
    display: box;
    word-wrap: break-word;
    -webkit-box-orient: vertical;
    box-orient: vertical;
  }
}
@media (max-width: 540px) {
  .cart-discription {
    display: none;
  }
}

.cart-chekout {
  padding-top: 30px;
}

.main {
  min-height: calc(100vh - 70px);
  padding: 25px 0;
}

.slider {
  width: 100%;
  height: 200px;
  background-color: #ccc;
  border-radius: 20px;
}

.main_category {
  padding: 25px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item {
  width: 48%;
  margin: 20px 0;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.category-item:nth-child(2) {
  margin-right: 0px;
}
.category-item:last-child {
  margin-right: 0px;
}
@media (max-width: 768px) {
  .category-item {
    width: 100%;
  }
}

.category-img {
  border-radius: 20px;
  height: 230px;
  width: 614px;
  object-fit: cover;
  transition: all 1s ease-out;
}
.category-img:hover {
  transform: scale(1.1);
}

.category-title {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
  padding: 5px 15px;
  margin: 0 10px 10px 0;
  border-radius: 30px;
  font-size: 20px;
  background-color: rgba(196, 196, 196, 0.7);
}

#toast-container {
  bottom: 10% !important;
  top: auto;
}

.toast {
  border-radius: 20px;
  background-color: #35c7c7;
}

.footer {
  padding-top: 10px;
  border-top: 1px solid #e4e4e4cc;
  text-align: center;
  color: #ccc;
}
.footer a {
  color: #5a5a5a;
}

.product-item {
  width: 25%;
  padding: 10px 10px;
}
@media (max-width: 1024px) {
  .product-item {
    width: 33%;
  }
}
@media (max-width: 768px) {
  .product-item {
    width: 50%;
  }
}
@media (max-width: 380px) {
  .product-item {
    width: 100%;
  }
}

.product-info {
  text-align: center;
  padding: 0 15px;
}
.product-info p {
  font-size: 12px;
}

.product-block {
  background-color: #f3f3f3;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.product-option {
  display: flex;
  justify-content: space-between;
}

.product-btn {
  background-color: #fff;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: none;
}

.product-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_radio_btn {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.form_radio_btn:last-child {
  margin-right: 0px;
}

.form_radio_btn input[type=radio] {
  display: none;
}

.form_radio_btn label {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 17px;
  line-height: 34px;
  border-radius: 6px;
  user-select: none;
  background: #fff;
}

/* Checked */
.form_radio_btn input[type=radio]:checked + label {
  background: #d9d9d9;
}

/* Hover */
.form_radio_btn label:hover {
  color: #000;
}

/* Disabled */
.form_radio_btn input[type=radio]:disabled + label {
  background: #d9d9d9;
  color: #666;
}

.product-price {
  font-size: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 15px 0;
  text-align: center;
  margin: 0 auto;
}
@media (max-width: 640px) {
  .product-price {
    font-size: 18px;
  }
}

.btn-add {
  background-color: #cde1e1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px solid #eb5a1e;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.btn-add:focus {
  outline: none;
}
.btn-add:hover {
  background-color: #7ad8da;
  transition: background-color 0.2s linear;
}
@media (max-width: 540px) {
  .btn-add svg {
    width: 30px;
    height: 30px;
  }
}
@media (max-width: 640px) {
  .btn-add {
    padding: 5px 0;
  }
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-img {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.main-product-img {
  height: 230px;
  width: 614px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 1s ease-out;
}
.main-product-img:hover {
  transform: scale(1.1);
}
@media (max-width: 640px) {
  .main-product-img {
    height: 180px;
  }
}
@media (max-width: 540px) {
  .main-product-img {
    height: 150px;
  }
}

.item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  width: 100%;
}

.item-img img {
  width: 400px;
}

.item-category {
  background-color: #C4C4C4;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-end;
  border-radius: 10px;
  margin-left: 293px;
}

.rigth-col {
  display: flex;
  flex-direction: column;
}
.rigth-col h1 {
  font-size: 50px;
}

.item-descriptions {
  padding-bottom: 40px;
}

.prod-item {
  max-width: 300px;
  margin-left: 35px;
}

table {
  font-size: 14px;
  text-align: center;
  background-color: #F4F4F4;
  margin-top: 10px;
}
table td {
  padding: 2px 7px;
  width: 100px;
}

.item-tabl span {
  font-size: 14px;
  color: #838383;
  padding-bottom: 10px;
}

.discriptions {
  padding-top: 40px;
}

.profile-title {
  display: flex;
  padding-bottom: 25px;
}
@media (max-width: 380px) {
  .profile-title h4 {
    font-size: 1.3rem;
  }
}

.profile-menu {
  width: 20%;
}

.svg-profile {
  display: flex;
  justify-content: center;
}

.svg-profile::after {
  content: "";
  background-color: rgba(105, 105, 105, 0.31);
  margin-left: 5px;
  padding: 1px;
}

.title-profile {
  margin: 0 auto;
  overflow: hidden;
  /* Обрезаем все, что не помещается в область */
  padding-left: 7px;
  /* Поля вокруг текста */
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
@media (max-width: 320px) {
  .title-profile {
    display: none;
  }
}

.profile {
  background-color: #d5f4f4;
  border-radius: 30px;
  width: 130px;
  height: 52px;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}
.profile:hover {
  background-color: #b8b8b8;
  transition: background-color linear 0.2s;
}
@media (max-width: 1024px) {
  .profile {
    width: 126px;
    height: 45px;
  }
}
@media (max-width: 640px) {
  .profile {
    width: 107px;
    height: 41px;
  }
}
@media (max-width: 320px) {
  .profile {
    width: 41px;
    justify-content: center;
    padding: 0;
  }
}

.order_history {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  margin-top: 30px;
}

.order_item {
  width: 24%;
  height: 100%;
  border: 1px solid #fff;
  margin: 10px 6px;
  padding: 0 25px;
  border-radius: 20px;
  background-color: #dae4e4;
}
@media (max-width: 1024px) {
  .order_item {
    width: 31%;
    margin-left: 0;
  }
}
@media (max-width: 640px) {
  .order_item {
    width: 48%;
  }
}
@media (max-width: 380px) {
  .order_item {
    width: 100%;
  }
}

.order_num {
  justify-content: center;
  display: flex;
  border-bottom: 0.5px solid #000;
  padding: 15px 0;
}

.order_user {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;
  border-bottom: 0.5px solid #000;
}

.order_name {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 10px;
}

.order_info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.order_items {
  display: flex;
  flex-direction: column;
}

.order_product {
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
  border-bottom: 0.5px solid #000;
}

.order_allsum {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  border-bottom: 1px solid #000;
}

.order_date {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
}

@media (max-width: 380px) {
  .order_title h4 {
    font-size: 1.3rem;
    text-align: center;
  }
}

.form_radio_group {
  display: inline-block;
  overflow: hidden;
}

.form_radio_group-item {
  display: inline-block;
}

.form_radio_group input[type=radio] {
  display: none;
}

.form_radio_group label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-right: none;
  user-select: none;
}

.form_radio_group .form_radio_group-item:first-child label {
  border-radius: 6px 0 0 6px;
}

.form_radio_group .form_radio_group-item:last-child label {
  border-radius: 0 6px 6px 0;
  border-right: 1px solid #999;
}

/* Checked */
.form_radio_group input[type=radio]:checked + label {
  background: #ffe0a6;
}

/* Hover */
.form_radio_group label:hover {
  color: #666;
}

/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
  background: #efefef;
  color: #666;
}

.langitem {
  display: flex;
  padding: 0 10px;
}

h1 {
  padding: 0 0 25px 0;
}
@media (max-width: 1024px) {
  h1 {
    font-size: 40px;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 30px;
  }
}

@media (max-width: 540px) {
  h5 {
    font-size: 1.3rem;
  }
}

body {
  background-color: #cde1e1;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.content {
  width: 1400px;
  min-height: 950px;
  background-color: white;
  border-radius: 10px;
  margin: 30px;
  display: flex;
}
@media (max-width: 1024px) {
  .content {
    width: calc(100vw - 60px);
  }
}
@media (max-width: 540px) {
  .content {
    margin: 15px 0;
    width: calc(100vw - 30px);
  }
}

a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 35px 10px 35px;
}
@media (max-width: 1024px) {
  .container {
    margin: 0 20px 10px 20px;
  }
}
@media (max-width: 380px) {
  .container {
    margin: 0 10px 10px 10px;
  }
}

.center {
  display: flex;
  justify-content: center;
}

.notification {
  background-color: green;
  border-radius: 10px;
}

.dropcont {
  width: 190px !important;
  height: auto !important;
  top: 154px !important;
}

.dropdonw-settings {
  width: 200px !important;
  height: auto !important;
  top: 154px !important;
  right: calc(100vw - 22%);
  border-radius: 15px;
}
@media (max-width: 380px) {
  .dropdonw-settings {
    top: 90px !important;
  }
}

@media (max-width: 380px) {
  .row .col.s4 {
    width: 100%;
  }
}
