.product-item {
  width: 25%;
  padding: 10px 10px;
  @media #{$laptop} {
    width: 33%;
  }
  @media #{$tablet} {
    width: 50%;
  }
  @media #{$mobile} {
    width: 100%;
  }
}
.product-info {
  text-align: center;
  padding: 0 15px;
  & p {
    font-size: 12px;
  }
}
.product-block {
  background-color: #f3f3f3;
  padding: 15px 0 0 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.product-option {
  display: flex;
  justify-content: space-between;
}
.product-btn {
  background-color: #fff;
  border: none;
  padding: 5px 30px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.product-cart {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form_radio_btn {
  display: flex;
  margin-right: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  &:last-child {
    margin-right: 0px;
  }
}
.form_radio_btn input[type='radio'] {
  display: none;
}
.form_radio_btn label {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  cursor: pointer;
  padding: 0px 17px;
  line-height: 34px;
  border-radius: 6px;
  user-select: none;
  background: #fff;
}
/* Checked */
.form_radio_btn input[type='radio']:checked + label {
  background: #d9d9d9;
}
/* Hover */
.form_radio_btn label:hover {
  color: #000;
}
/* Disabled */
.form_radio_btn input[type='radio']:disabled + label {
  background: #d9d9d9;
  color: #666;
}
.product-price {
  font-size: 21px;
  font-weight: 500;
  display: flex;
  align-items: center;
  align-content: center;
  padding: 15px 0;

  text-align: center;
  margin: 0 auto;
  @media #{$tablet-h} {
    font-size: 18px;
  }
}
.btn-add {
  background-color: #cde1e1;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border: 0px solid #eb5a1e;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #7ad8da;
    transition: background-color 0.2s linear;
  }
  svg {
    @media #{$mobile-b} {
      width: 30px;
      height: 30px;
    }
  }
  @media #{$tablet-h} {
    padding: 5px 0;
  }
}

.product-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.product-img {
  overflow: hidden;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.main-product-img {
  height: 230px;
  width: 614px;
  -o-object-fit: cover;
  object-fit: cover;
  transition: all 1s ease-out;
  &:hover {
    transform: scale(1.1);
  }
  @media #{$tablet-h} {
    height: 180px;
  }
  @media #{$mobile-b} {
    height: 150px;
  }
}
