@import "_vars";
@import "_normalize";
@import "_left_menu";
@import "_header";
@import "_cart";
@import "_main";
@import "_footer";
@import "_product";
@import "_items";
@import "_profile";
@import "_orders";
@import "_castombtn";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

h1 {
  padding: 0 0 25px 0;
  @media #{$laptop} {
    font-size: 40px;
  }
  @media #{$tablet-h} {
    font-size: 30px;
  }
}
h5 {
  @media #{$mobile-b} {
    font-size: 1.3rem;
  }
}

body {
  background-color: $bgc-main;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  font-family: "Roboto", sans-serif;
  font-weight: normal;
}

.content {
  max-width: 1400px;
  min-height: 950px;

  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  margin: 30px;
  display: flex;
  @media #{$laptop} {
    width: calc(100vw - 60px);
  }
  @media #{$mobile-b} {
    margin: 15px 0;
    width: calc(100vw - 30px);
  }
}
a {
  text-decoration: none;
  color: #000;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 35px 10px 35px;
  @media #{$laptop} {
    margin: 0 20px 10px 20px;
  }
  @media #{$mobile} {
    margin: 0 10px 10px 10px;
  }
}

.center {
  display: flex;
  justify-content: center;
}
.notification {
  background-color: green;
  border-radius: 10px;
}

.dropcont {
  width: 190px !important;
  height: auto !important;
  top: 154px !important;
}

.dropdonw-settings {
  width: 200px !important;
  height: auto !important;
  top: 154px !important;
  right: calc(100vw - 22%);
  border-radius: 15px;
  @media #{$mobile} {
    top: 90px !important;
  }
}
.row .col.s4 {
  @media #{$mobile} {
    width: 100%;
  }
}
